# Python CircleCI 2.0 configuration file
version: 2
jobs:
  build:
    docker:
      - image: circleci/python:3.6.8

    working_directory: ~/repo

    steps:
      # Step 1: obtain repo from GitHub
      - checkout
      # Step 2: create virtual env and install dependencies
      - run:
          name: install dependencies
          command: |
            python3 -m venv venv
            echo "/home/circleci/repo/" > /home/circleci/repo/venv/lib/python3.6/site-packages/add_proj_to_path.pth
            echo "/home/circleci/repo/tests/" > /home/circleci/repo/venv/lib/python3.6/site-packages/add_proj_to_path.pth
            . venv/bin/activate
            pip install -r requirements.txt
      # Step 3: run linter and tests
      - run:
          name: run tests
          command: |
            . venv/bin/activate
            flake8 --exclude=venv* --statistics
            pytest -v --cov-config=.coveragerc --cov
